body {
    font-family: Arial, sans-serif;
    background-color:#86cdea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.defter {
    background-color: white;
    border: 1px solid #ccc;
    width: 800px;
    padding: 10px;
    text-align: center;
    background-image: url("deftersayfasi1.png" );
    background-repeat:no-repeat;
    background-size: cover;
}

.ust-satir {
    font-size: 40px;
    font-weight: bold;
    color: red;
}
.alt-satir {
    font-size: 30px;
    font-weight: bold;
    color: red;
}


.kirmizi-cizgi {
    border: 1px solid red;
    margin: 10px 0;
}
.gorev {
    display: flex;
    align-items: center;
}

.gorev-text {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.gorev-text:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
     /*display: none; checkbox kutusunu gizler */
}

input[type="checkbox"] + label::before {
    content: "";
    font-size: 20px;
    color: transparent;
}

input[type="checkbox"]:checked + label::before {
    color: green;
}